* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", arial, helvetica, sans-serif;
}
* h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.width-full {
  width: 100%;
}
.width-custom {
  width: 80%;
  margin: auto;
}
.width-half {
  width: 50%;
  margin: auto;
}
.width_fotter {
  width: 65%;
  margin: auto;
}
.width-less {
  width: 90%;
  margin: auto;
}

.width-gall {
  width: 8%;
  margin: auto;
}
.width-half{
    width: 50%;
    margin: auto;
}
hr{
    border-bottom:none;
    border-top: .1px solid rgb(179, 179, 179);
}
.flex{
    float: right;
}
.margin-r{
    margin-right: -10px;
}
.margin-l{
    margin-left: -10px;
}
.tablerow-bg{
    background-color: rgb(243,243,243);
    font-size: 12px;
    padding: 0px;
}
.icon-chevron-right{
    border-radius: 100%;
    background-color: white;
    color: rgb(91,172,182);
}

.test{
    border: solid;
    background-color: pink;
}

.hoverGlow{
    width: 2%;
}
.hoverGlow:hover{
    background-color: rgb(212, 231, 238);
}

.fri-sat{
    background-color: rgb(236,248,250);
}
.fullFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}